<div class="ui placeholder segment signup">
  <%= render 'shared/errors', obj: @user %>
  <div class="twelve wide column">
    <%= form_with(model: @user, class: "ui form") do |form| %>
          <div>
            <%= form.label :username, style: "display: flex" %>
            <%= form.text_field :username, placeholder: "Username" %>
          </div>

          <div>
            <%= form.label :password, style: "display: flex" %>
            <%= form.text_field :password, placeholder: "Password" %>
          </div>

          <div>
            <%= form.label :email, style: "display: flex" %>
            <%= form.text_field :email, placeholder: "Email" %>
          </div>

        <div class="two fields">
          <div class="field">
            <%= form.label :first_name, style: "display: flex" %>
            <%= form.text_field :first_name, placeholder: "First name" %>
          </div>

          <div class="field">
            <%= form.label :last_name, style: "display: flex"%>
            <%= form.text_field :last_name,  placeholder: "Last name"  %>
          </div>
        </div>

      <div>
        <%= form.submit "Sign Up", class: "ui primary button" %>
      </div>
    <% end %>
  </div>
</div>