<h4 class="ui center aligned medium icon header">
    <i class="circular orange user icon"></i> Friend Requests
</h4>

<div class="ui cards centered align">
     <% if @requests.any? %>
        <% @requests.each do |r| %>
            <div class="card">
                <div class="content">
                    <div class="header">
                        <%= link_to r.user.username, user_path(r.user) %>
                    </div>
                    <div class="meta">
                        <%= r.user.first_name.capitalize + " " + r.user.last_name.capitalize %>
                    </div>
                    <div class="description">
                        <%= r.user.username %> requested to be your friend!
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui two buttons">
                        <%= button_to "Accept", accept_friend_path, class: "ui inverted green button", method: :post, params: {user_id: r.user_id, friend_id: r.friend_id} %>
                        <%= button_to "Reject", reject_friend_path, class: "ui inverted red button", method: :delete %>
                    </div>
                </div>
            </div>
        <% end %>
    <% else %>
        <h1 class="ui center aligned medium header">You currently have no incoming friend requests.</h1>
    <% end %>
</div>
