<h4 class="ui center aligned medium icon header">
    <i class="circular orange user icon"></i> Friend Requests
</h4>

<div class="ui cards centered align">
    <% if any_requests? %>
        <% @requests.each do |r| %>
            <% if !current_user.friends_with?(r.user) %>
                <div class="card">
                    <div class="content">
                        <div class="header">
                            <%= link_to r.user.username, user_path(r.user) %>
                        </div>
                        <div class="meta">
                            <%= r.user.first_name.capitalize + " " + r.user.last_name.capitalize %>
                        </div>
                        <div class="description">
                            <%= r.user.username %> requested to be your friend!
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui two buttons">
                            <%= button_to "Accept", accept_friend_path, class: "ui inverted green button", method: :post, params: {user_id: r.user_id, friend_id: r.friend_id} %>
                            <%= button_to "Reject", reject_friend_path, class: "ui inverted red button", method: :delete, params: {user_id: r.user_id, friend_id: r.friend_id} %>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    <% else %>
        <h1 class="ui center aligned medium icon header">No pending friend requests!</h1>
    <% end %>
</div>
